---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

configMapGenerator:
  - name: una-mongodb-scripts-configmap
    files:
      - configmap/generate-init-mongo.sh
      - configmap/shutdown-mongo.js
images:
  - name: busybox
    newTag: 1.37.0@sha256:b3255e7dfbcd10cb367af0d409747d511aeb66dfac98cf30e97e87e4207dd76f
  - name: lscr.io/linuxserver/unifi-network-application
    newTag: 10.0.162@sha256:1c3667f6f145b49dcbd105b090a3740a6403f2ae02a164ae9231649e073e2f84
  - name: mongo
    newTag: 8.0.19@sha256:7734b622e05c0cae53c8cd57780ed582c9fa7320a85b23a754a507a5b9669add
resources:
  - statefulset.yml
  - serverstransport.yml
  - service.yml
