---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

configMapGenerator:
  - name: una-mongodb-scripts-configmap
    files:
      - configmap/generate-init-mongo.sh
      - configmap/shutdown-mongo.js
images:
  - name: busybox
    newTag: 1.37.0@sha256:b3255e7dfbcd10cb367af0d409747d511aeb66dfac98cf30e97e87e4207dd76f
  - name: lscr.io/linuxserver/unifi-network-application
    newTag: 10.0.162@sha256:1c3667f6f145b49dcbd105b090a3740a6403f2ae02a164ae9231649e073e2f84
  - name: mongo
    newTag: 8.0.18@sha256:ea2d3389d685f1cbd41cbad8c9d0fb1a7448ede26263cde4e5e61aa9050d7783
resources:
  - statefulset.yml
  - serverstransport.yml
  - service.yml
