---
# defaults file for minikube_test

# If the test harness should enable local path storage.  See
# https://minikube.sigs.k8s.io/docs/tutorials/local_path_provisioner/
minikube_test__enable_local_path_storage: false

# renovate: datasource=github-releases depName=kubernetes/kubernetes
minikube_test__kubernetes_version: v1.34.2

# The number of nodes needed for the test.
minikube_test__minikube_nodes: 1

# The directory to pass to kustomize for the test.
minikube_test__kustomization_dir: "{{ minikube_test__test_dir }}"

# The name of the test.
minikube_test__test_name: "{{ minikube_test__kustomization_dir.split('/')[-1] }}"
