apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

images:
  - name: ghcr.io/paperless-ngx/paperless-ngx
    newTag: 2.19.6@sha256:719a4e4c4314b417646b00e58bfbfbe55e4cb59017a2dec1533e96d8deb66ec1
  - name: ghcr.io/servercontainers/samba:smbd-only-latest
    digest: sha256:4c78ce2bf70708183a6376c02fa4a8cb2455dfc6f615cfef015a68440cc1362e
resources:
  - pvc.yml
  - statefulset.yml
  - service.yml
  - samba-deployment.yml
  - samba-service.yml
