apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

images:
  - name: ghcr.io/paperless-ngx/paperless-ngx
    newTag: 2.19.4@sha256:7ec0797af256194f6e117d1b7ed3ef91ad31b4a14bf3092abdee6bb74f6b3656
  - name: ghcr.io/servercontainers/samba:smbd-only-latest
    digest: sha256:4c78ce2bf70708183a6376c02fa4a8cb2455dfc6f615cfef015a68440cc1362e
resources:
  - pvc.yml
  - statefulset.yml
  - service.yml
  - samba-deployment.yml
  - samba-service.yml
