---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

images:
  - name: ghcr.io/kube-vip/kube-vip
    newTag: v1.0.4@sha256:5e0d817bfa35f922e7ca5cf5fa88f30b71a88ab4837e550185b1c97bcef818c2
resources:
  - rbac.yml
  - daemonset/services.yml
  - daemonset/vip.yml
