apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
  - pvc.yml
  - deployment.yml
  - service.yml

images:
  - name: redis
    newTag: 8.2.3@sha256:66e31e0cae26a8d291c9a4991eec0a12af4ec2185d01fdaabbed027472f1f42b
