---
name: Run checks
on:
  push:

jobs:
  build:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container
      - name: Build devcontainer image
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3.1900000417
        with:
          cacheFrom: ghcr.io/marinatedconcrete/config-devcontainer
          cacheTo: ghcr.io/marinatedconcrete/config-devcontainer
          env: |
            CI=1
          imageName: ghcr.io/marinatedconcrete/config-devcontainer
          push: filter
          refFilterForPush: refs/heads/main
  check-format:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Check formatting
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3.1900000417
        with:
          cacheFrom: ghcr.io/marinatedconcrete/config-devcontainer
          env: |
            CI=1
          imageName: ghcr.io/marinatedconcrete/config-devcontainer
          push: never
          runCmd: just check-format
  kustomization-test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Validate configs
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3.1900000417
        with:
          cacheFrom: ghcr.io/marinatedconcrete/config-devcontainer
          env: |
            CI=1
          imageName: ghcr.io/marinatedconcrete/config-devcontainer
          push: never
          runCmd: just kustomization-test ${{ matrix.kustomization-test }}
    strategy:
      matrix:
        kustomization-test:
          - factorio
          - kube-vip
          - mosquitto
          - paperless
          - priorityclass
          - unifi-network-application
  lint:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Validate configs
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3.1900000417
        with:
          cacheFrom: ghcr.io/marinatedconcrete/config-devcontainer
          env: |
            CI=1
          imageName: ghcr.io/marinatedconcrete/config-devcontainer
          push: never
          runCmd: just lint
