---
name: Build Kairos-Ubuntu

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - main
    paths:
      - .github/workflows/image-kairos-ubuntu.yml
      - images/kairos-ubuntu/**
    tags:
      - kairos-ubuntu-*
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/image-kairos-ubuntu.yml
      - images/kairos-ubuntu/**

jobs:
  build-container:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      # Note: this must start with a number for the build to work correctly!
      - name: Compute Version Tag
        env:
          BRANCH: ${{ github.ref_type == 'tag' && github.ref_name || github.event_name != 'pull_request' && format('{0}.{1}.{2}', github.run_id, github.run_number, github.run_attempt) || format('{0}-pr', github.event.number) }}
        id: version_tag
        run: echo "tag=$BRANCH" | sed -e 's/kairos-ubuntu-//' >> "$GITHUB_OUTPUT"
      - name: Generate Metadata
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        id: metadata
        with:
          images: ghcr.io/${{ github.repository_owner }}/kairos-ubuntu
      - name: Build Image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          build-args: |
            VERSION=${{ steps.version_tag.outputs.tag }}
          context: images/kairos-ubuntu
          labels: ${{ steps.metadata.outputs.labels }}
          push: ${{ github.ref_type == 'tag' }}
          tags: ghcr.io/${{ github.repository_owner }}/kairos-ubuntu:${{ steps.version_tag.outputs.tag }}
