---
name: Build VSCode SSH Server

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - main
    paths:
      - .github/workflows/image-vscode-ssh-server.yml
      - images/vscode-ssh-server/**
    tags:
      - vscode-ssh-server-*
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/image-vscode-ssh-server.yml
      - images/vscode-ssh-server/**

jobs:
  build-container:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Compute Version Tag
        env:
          BRANCH: ${{ github.ref_type == 'tag' && github.ref_name || github.event_name != 'pull_request' && format('{0}.{1}.{2}', github.run_id, github.run_number, github.run_attempt) || format('{0}-pr', github.event.number) }}
        id: version_tag
        run: echo "tag=$BRANCH" | sed -e 's/vscode-ssh-server-//' >> "$GITHUB_OUTPUT"
      - name: Generate Metadata
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        id: metadata
        with:
          images: ghcr.io/${{ github.repository_owner }}/vscode-ssh-server
      - name: Build Image
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          build-args: |
            VERSION=${{ steps.version_tag.outputs.tag }}
          context: images/vscode-ssh-server
          labels: ${{ steps.metadata.outputs.labels }}
          push: ${{ github.ref_type == 'tag' }}
          tags: ghcr.io/${{ github.repository_owner }}/vscode-ssh-server:${{ steps.version_tag.outputs.tag }}
