---
name: Release Please

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      components_json: ${{ steps.releases.outputs.components_json }}
    steps:
      - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: app-token
        with:
          app-id: ${{ vars.FORMWORK_REMOVER_APP_ID }}
          private-key: ${{ secrets.FORMWORK_REMOVER_PRIVATE_KEY }}
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release-please
        with:
          token: ${{ steps.app-token.outputs.token }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
      - name: Checkout Repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Gather Release Outputs
        env:
          OUTPUTS: ${{ toJson(steps.release-please.outputs) }}
        id: releases
        run: sh .github/workflows/release-please-output-helper.sh

  build-release:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.components_json != '[]' }}
    strategy:
      matrix:
        component: ${{ fromJson(needs.release-please.outputs.components_json) }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Test and Build Component
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3.1900000417
        with:
          cacheFrom: ghcr.io/marinatedconcrete/config-devcontainer
          env: |
            CI=1
            GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
          imageName: ghcr.io/marinatedconcrete/config-devcontainer
          push: never
          runCmd: |
            just release-please-build ${{ matrix.component.project }} /tmp/${{ matrix.component.project }}.yml
            gh release upload ${{ matrix.component.tag }} /tmp/${{ matrix.component.project }}.yml
